{
  "extends": "airbnb",
  "rules": {
    "max-len": ["error", 140],
    "react/prop-types": "off",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/prefer-stateless-function": "off"
  },
  "env": {
    "jasmine": true,
    "browser": true,
  }
}
