.settings-lists{
  line-height: 0px;
}

.settings-lists-title{
  font-style: italic;
  font-size: 18px;
  font-weight: bold;
  color: #888;
  margin-bottom: 15px;
  margin-top: 15px;
}

.settings-lists-content{
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
  margin-top: 40px;
  padding-bottom: 10px;
}

.settings-update-information{
  display: table;
  width: 100%;
  margin-bottom: 20px;
}

.settings-update-information input[type="text"], .settings-update-information input[type="password"]{
  margin: 10px 0px 0px 0px;
  width: calc(100% - 20px);
  box-sizing: border-box;
}
